<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container" style="height: 300px">
      <br><br>
      <h1 class="landingpage_title"><b style="color: yellow">S</b>inpap<b style="color: yellow">R</b>un</h1>
<br>
      <div class="row center">
        <h4 class="user_header col s12 light" style="color:#ff6347">What role do you play?</h4>

        <div class="col s4">
          <div class="row center">
            <a href="/users" id="download-button" class="btn btn-large waves-effect waves-light teal lighten-1">Runner</a>
          </div>
        </div>
        <div class="col s4">
          <div class="row center">
            <a href="/companies" id="download-button" class="btn btn-large waves-effect waves-light teal lighten-1">Company</a>
          </div>
        </div>
        <div class="col s4">
          <div class="row center">
            <a href="/employees" id="download-button" class="btn btn-large waves-effect waves-light teal lighten-1">Employee</a>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="parallax"><img src="" alt="Unsplashed background img 1"></div>
</div>
